.logo img
{
margin-left:580px;
margin-top:20px;
}
.head h1
{
margin-left:584px;
margin-top:37px;
font-family:inherit;
font-weight:bold;
font-size:34px;
transform: scale(.99,1);
}

form input{
	margin-left:590px;
	width:330px;
	margin-bottom:5px;
	font-family:inherit;
	font-size:20px;
	padding-left:4px;
	height:60px;
	border:1.5px solid #E1E7EB;
	border-radius:3px;
}
.label{
position:absolute;
margin-left:-320px;	
margin-top:19px;
}
.btn{
	border-radius:200px;
	background-color:#8ED0F9;
	color:white;
	height:46px;
	font-weight:bold;
	font-size:15px;
	font-family:arial;
	margin-bottom:5px;
}
.forgetpass a{
	margin-left:630px;
	font-family:arial;
	color:#8DCAEF;
	font-size:15px;
	font-weight:lighter;
	text-decoration:none;
}
p{
	margin-left:755px;
	position:absolute;
	margin-top:-23px;
}
.signup a{
	margin-left:765px;
	position:absolute;
	margin-top:-18px;
	text-decoration:none;
	color:#8DCAEF;
	font-size:15px;
	font-family:arial;
}
/*for mobile device width 320px and greater then 320px*/
@media (max-width:320px){
.logo img
{
margin-left:27px;
margin-top:20px;
}
.head h1
{
margin-left:38px;
margin-top:37px;
font-family:inherit;
font-weight:bold;
font-size:25px;
transform: scale(.99,1);
}

form input{
margin-left:41px;
width:230px;
margin-bottom:5px;
font-family:inherit;
font-size:15px;
padding-left:4px;
height:40px;
border:1.5px solid #E1E7EB;
border-radius:3px;
}
.label{
position:absolute;
margin-left:-30px;	
margin-top:19px;
}
.btn{
	border-radius:200px;
	background-color:#8ED0F9;
	color:white;
	height:36px;
	font-weight:bold;
	font-size:14px;
	font-family:arial;
	margin-bottom:5px;
}
.forgetpass a{
	margin-left:55px;
	font-family:arial;
	color:#8DCAEF;
	font-size:12px;
	font-weight:lighter;
	text-decoration:none;
}
p{
	margin-left:156px;
	position:absolute;
	margin-top:-20px;
}
.signup a{
	margin-left:164px;
	position:absolute;
	margin-top:-15px;
	text-decoration:none;
	color:#8DCAEF;
	font-size:12px;
	font-family:arial;
}
}
/*for mobile device screen greater than or equal to 360px*/
@media (max-width:360px){
.logo img
{
margin-left:27px;
margin-top:20px;
}
.head h1
{
margin-left:38px;
margin-top:37px;
font-family:inherit;
font-weight:bold;
font-size:25px;
transform: scale(.99,1);
}

form input{
margin-left:41px;
width:270px;
margin-bottom:5px;
font-family:inherit;
font-size:18px;
padding-left:4px;
height:40px;
border:1.5px solid #E1E7EB;
border-radius:3px;
}
.label{
position:absolute;
margin-left:-30px;	
margin-top:19px;
}
.btn{
	border-radius:200px;
	background-color:#8ED0F9;
	color:white;
	height:40px;
	font-weight:bold;
	font-size:14px;
	font-family:arial;
	margin-bottom:5px;
}
.forgetpass a{
	margin-left:70px;
	font-family:arial;
	color:#8DCAEF;
	font-size:12px;
	font-weight:lighter;
	text-decoration:none;
}
p{
	margin-left:171px;
	position:absolute;
	margin-top:-20px;
}
.signup a{
	margin-left:179px;
	position:absolute;
	margin-top:-15px;
	text-decoration:none;
	color:#8DCAEF;
	font-size:12px;
	font-family:arial;
}
}